[submodule "extern/LinkedLists"]
	path = extern/LinkedLists
	url = ../linkedlists.git
	branch = master
[submodule "extern/ChecksumHash"]
	path = extern/ChecksumHash
	url = ../checksumhash.git
	branch = master
